
<footer id="colophon" class="site-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter" role="contentinfo">
    <div class="site-info">
        <!-- <?php echo independent_publisher_footer_credits(); ?> -->
        ${ "Powered by <a class=\"chyrp\" href=\"http://chyrp.net/\" rel=\"generator\">Chyrp</a>" | translate }
        &mdash; Design <a href="http://independentpublisher.me'" rel="designer" title="Independent Publisher: A beautiful reader-focused WordPress theme, for you.">Independent Publisher</a>
        <br />
        Copyright 2014 ${ site.name }
        <!-- All trademarks and copyrights remain the property of their respective owners. -->
    </div>
    <!-- .site-info -->
</footer>
<!-- #colophon .site-footer -->

<!-- debug -->
{# include "partials/debug.twig" #}
<!-- Queries: $sql_queries | Load Time: $theme.load_time -->