{% extends "layouts/default.twig" %}

{% block content %}
    <div id="primary" class="content-area">
        <main id="content" class="site-content" role="main">
            {% include "content/content-page.twig" %}
        </main>
        <!-- #content .site-content -->
    </div><!-- #primary .content-area -->
{% endblock %}
